body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./photo.jpg);
    background-repeat: no-repeat;
    background-position: center center; /* Centre l'image */
    background-size: cover; /* Ajuste l'image pour couvrir l'élément */
    

}
.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
   
  
}
.champs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
h1{
    margin-bottom: 20px;
color: rgb(208, 241, 22);
}
input[type="text"]{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 50px;
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
ul{
    width: 100%;
    list-style: none;
    padding: 0;
}
ul li {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: gainsboro;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0 );
}
ion-icon {
    font-size: 20px;
    margin-right: 5px;
    background: rgb(179, 38, 125);
    color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 50%;

}
.delete{
    background: red;

}
.modify{
    background: yellow;
    color: #333;
}